name: Todo API ci

on: [ push ]

jobs:
  images_build:
    runs-on: ubuntu-latest
    steps:
    - name: clone the repo
      uses: actions/checkout@v3

    - name: install node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16

    - name: run unit tests
      run : |
        npm install
        npm start
        npm test

    - name: Build and push backend docker image
      uses: mr-smithers-excellent/docker-build-push@v5
      with:
        image: zaher1307/todo-api
        tags: latest
        registry: docker.io
        dockerfile: Dockerfile
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
